@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --body-bg: hsl(212, 45%, 89%);
  --card-bg: hsl(0, 0%, 100%);
  --text1-clr: hsl(218, 44%, 22%);
  --text2-clr: hsl(216, 15%, 48%);
  --border-radius1: 1rem;
  --border-radius2: 0.65rem;
  --font-size: 15px;
  --box-shadow: 0.65rem 0.65rem 0.65rem hsla(0, 0%, 0%, 0.1);
}

html {
  font-size: var(--font-size);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  font-family: 'Outfit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 21.35rem;
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: var(--border-radius1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: var(--box-shadow);
}

.qr-image {
  width: 100%;
  display: block;
  border-radius: var(--border-radius2);
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.qr-title {
  text-align: center;
  color: var(--text1-clr);
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.5rem;
}

.qr-text {
  text-align: center;
  color: var(--text2-clr);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.2;
  text-align: center;
}