@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --clr-slate-900: hsl(218, 44%, 22%);
  --clr-slate-500: hsl(216, 15%, 48%);
  --clr-slate-300: hsl(212, 45%, 89%);
  --clr-white: hsl(0, 0%, 100%);
  --font-family: "Outfit", Tahoma, Arial, sans-serif;
  --text-preset-1: 700 1.375rem/1.2 var(--font-family);
  --text-preset-2: 400 0.948rem/1.4 var(--font-family);
  --spacing-500: 2.5rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --letter-spacing: 0.2px;
  --border-radius-1: 1.25rem;
  --border-radius-2: 0.625rem;
  --box-shadow: 0.25rem 0.25rem 1rem hsla(0, 0%, 0%, 0.1);
}
